modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35809
externalPort = 6000

[[ports]]
localPort = 36039
externalPort = 8081

[[ports]]
localPort = 36087
externalPort = 8000

[[ports]]
localPort = 36949
externalPort = 3003

[[ports]]
localPort = 39085
externalPort = 8080

[[ports]]
localPort = 39177
externalPort = 4200

[[ports]]
localPort = 40853
externalPort = 8008

[[ports]]
localPort = 41003
externalPort = 6800

[[ports]]
localPort = 41091
externalPort = 3000

[[ports]]
localPort = 42901
externalPort = 3001

[[ports]]
localPort = 43361
externalPort = 8099

[[ports]]
localPort = 43429
externalPort = 3002

[[ports]]
localPort = 44913
externalPort = 9000

[[ports]]
localPort = 44945
externalPort = 5173

[[ports]]
localPort = 46353
externalPort = 5000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["github:1.0.0"]
